<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>CalcInputPage</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h2>CalcInputPage</h2>
  <hr />
  <form method="POST" id="form1">
    <div>
      <span>パラメータ1</span>
      <input type="text" name="param1" />
    </div>
    <div>
      <span>パラメータ2</span>
      <input type="text" name="param2" />
    </div>
    <div>
      <button type="submit" formmethod="POST" th:formaction="@{/add}">
        足し算(POST)
      </button>
      <button type="submit" formmethod="GET" th:formaction="@{/addByGet}">
        足し算(GET)
      </button>
    </div>
  </form>
</body>
</html>