<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Thymeleaf 基本編</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
  <h2>Thymeleaf 基本編 ― テンプレート式とデータ表示</h2>
  <hr />
  <ul>
    <li><a th:href="@{/expression}">1. 式構文とテキスト出力</a></li>
    <li><a th:href="@{/collection}">2. オブジェクトとコレクション</a></li>
    <li><a th:href="@{/condition}">3. 条件分岐</a></li>
    <li><a th:href="@{/link}">4. リンクURL式と属性の動的設定</a></li>
    <li><a th:href="@{/utility}">5. ユーティリティオブジェクト</a></li>
  </ul>
</body>
</html>
